---
layout: pagina
title: "#raticogurcoff es un regalo de nuestra heladería para decirte GRACIAS"
description: Venir a GurCoff es pasar un ratico delicioso. Esos es esta sección. Un ratico para decirte gracias regalándote mucho de nosotros para ayudarte
h1: "Pasa con nosotros <span class='resaltar'>un #raticoGurCoff en esta sección especial</span> de nuestro blog"
hero: img/raticogurcoff.webp
jpg: img/raticogurcoff.jpg
alt: Fotografía de un vaso GurCoff
---
<main class="entradas">
  <h2>☕ Un <span class="resaltar">#raticogurcoff</span> es una nuestra forma de decirte gracias. Tú nos has apoyado y nos ayudaste a crecer. <b>Ahora es nuestro turno de darte todo lo que podamos de nuestra parte</b></h2>
  <p>Con esta sección podrás crecer y avanzar en:</p>
  <ul>
    <li><strong>Emprendimiento</strong></li>
    <li><strong>Estilo de vida</strong></li>
    <li><strong>Aplicaciones</strong></li>
    <li><strong>Publicidad</strong></li>
    <li>¡Y todo lo que te ayude tanto como a nosotros!</li>
  </ul>
  <h3>Haz clic en los siguientes artículos ⏬</h3>
  <div class="home_gallery">
    {% for post in site.posts %}
    {% if post.category == "#raticogurcoff" %}
    <article>
      <img src="{{post.hero|relative_url}}" alt="{{post.alt}}">
      <div>
        <h4>{{post.h1}}</h4>
        <a href="{{post.url|relative_url}}" title="{{post.title}}">Leer más</a>
      </div>
    </article>
    {% endif %}
    {% endfor %}
    <div class="add">
    </div>
  </div>
</main>
