---
layout: pagina
permalink: productos
title: "Estos productos de Holographic en Colombia está a tu alcance"
description: "Mira los productos de Holographic para empresas: etiquetas holográficas, cintas de seguridad, lectores de códigos, impresoras térmicas, y más. ¡Entra!"
h1: Pide los productos de Holographic que mercancía o empresa necesita
intro: Conoce los productos que fabricamos para evitar pérdidas de dinero y proteger tus activos
hero: img/productos-holographic.webp
jpg: img/productos-holographic.jpg
alt: Fotografía de productos de holographic
---
<section class="wrapper flow">
  <h2>Los productos que más solicitan las empresas para asegurar su mercancía</h2>
  <div class="home_gallery">
    {% for item in site.data.home.stickers limit: 4 %}
    <article class="flow">
      <img src="{{item.img|relative_url}}" alt="{{item.alt}}" loading="lazy" width="180" height="225">
      <p>{{item.p}}</p>
    </article>
    {% endfor %}
  </div>
  <a href="{{site.whatsapp}}" title="Contáctanos" class="boton boton_2" target="_blank" rel="nofollow noopener">Asesórate gratis</a>
</section>

<main class="entradas wrapper">
  <h2>Consigue los stickers y suministros de Holographic que aumentan la seguridad y el control de tu empresa</h2>
  <p>¿Están falsificando tu mercancía? ¿Tu mercancía se está perdiendo en el camino o en su bodega?</p>
  <h3>Así es como te podemos ayudar desde Holographic S.A.S. ⏬</h3>
  <div class="blog_gallery">
    {% for caso in site.pages %}
     {% if caso.layout == "producto" %}
    <article>
      <img src="{{caso.hero|relative_url}}" alt="{{caso.alt}}" loading="lazy" width="280" height="180">
      <div>
        <a href="{{caso.url|relative_url}}"><h4>{{caso.h1}}</h4></a>
        <p>{{caso.intro}}</p>
      </div>
    </article>
      {% endif %}
    {% endfor %}
  </div>
</main>