---
layout: transaccional
title: Regalos Digitales de Natural One Life para tu Salud
description: "En Natural One Life queremos regalarte guías, audios, videos, recomendaciones y más; para que pongas en práctica en casa y cuides de tu salud. ¡Descárgalos!"
h1: Catálogo de productos de Natural One Life
hero: img/catalogo-natural-one-life.avif
alt: Foto de productos de Natural One Life
intro: Mira los productos que te ayudarán a cuidar tu salud de forma natural. Elige cuál necesitas y escríbenos al WhatsApp con el nombre del producto.
---
<section class="intro_secciones bg_secundario flow">
  <small>Catálogo de productos</small>
  <h2>Productos naturales para cuidar tu salud</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae consequatur dicta nulla provident repudiandae libero?</p>
  <h3>Escoge el tema de tu interés para mostrarte los productos indicados</h3>
  <div class="blog-tags">
    <button data-name="all" class="active">Todos</button>
    {% for categoria in site.data.catalogo %}
    <button data-name="{{ categoria[0] }}">{{ categoria[0] }}</button>
    {% endfor %}
  </div>
</section>
<section class="posts">
  {% for categoria in site.data.catalogo %}
  <div class="post" data-name="{{ categoria[0] }}">
    <h2>🌿 Tratamientos para {{ categoria[0] }}</h2>
    <div>
      {% for producto in categoria[1] %}
      <article class="tarjeta">
        <div>
          <img src="{{ producto.img | relative_url }}" alt="{{ producto.alt }}" loading="lazy" width="400" height="400" title="{{ producto.title }}">
        </div>
        <div class="flow">
          <h3>{{producto.titulo}}</h3>
          <ul>
            {% for beneficio in producto.beneficios %}
            <li><small>✓ {{ beneficio | first | last }}</small></li>
            {% endfor %}
          </ul>
          {% include boton_whatsapp.html %}
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>