---
layout: pagina
title: "Los servicios de Holographic a tu disposición"
description: "Además de imprimir, en Holographic te servimos de otras maneras: mantenimientos de impresoras térmicas, rollos de hologramas, app de trazabilidad. Conoce más"
h1: "Los <span class='resaltar'>servicios de Holographic</span> a la orden de tu empresa"
intro: Examina cómo puedes aprovechar nuestros servicios en tu empresa
hero: img/servicios-holographic.webp
jpg: img/servicios-holographic.jpg
alt: Fotografía de un vaso GurCoff
---
<main class="entradas wrapper">
  <h2>Estas empresas protegen sus activos con nuestros stickers de seguridad y marcación</h2>
  <p>¿Están falsificando tu mercancía? ¿Tus envíos no llegan completos o con la mercancía original?</p>
  <h3>Así es como te podemos ayudar desde Holographic S.A.S. ⏬</h3>
  <div class="blog_gallery">
    {% for caso in site.pages %}
     {% if caso.layout == "servicio" %}
      <article>
        <img src="{{caso.hero|relative_url}}" alt="{{caso.alt}}" loading="lazy" width="280" height="180">
        <div>
          <a href="{{caso.url|relative_url}}"><h4>{{caso.h1}}</h4></a>
          <p>{{caso.intro}}</p>
        </div>
      </article>
      {% endif %}
    {% endfor %}
    <article>
      <img src="{{'img/etikit-logo.webp'|relative_url}}" alt="Etikit aplicación de trazabilidad" loading="lazy" width="280" height="180">
      <div>
        <a href="{{'servicios/etikit-app'|relative_url}}"><h4>Aplicación de trazabilidad Etikit de Holographic</h4></a>
      </div>
    </article>
  </div>
</main>