<div class="carousel_container">
  <div class="carousel">  
    {% for item in site.data.fotos %}
    <div class="item">
      <a href="{{site.instagram}}" title="instagram Holographic" rel="nofollow noopener noreferrer" target="_blank">
        <img src="{{item.img|relative_url}}" loading="lazy" alt="{{item.alt}}" width="180" height="226">
      </a>
    </div>
    {% endfor %}
    {% for item in site.data.fotos %}
    <div class="item">
      <a href="{{site.instagram}}" title="instagram Holographic" rel="nofollow noopener noreferrer" target="_blank">
        <img src="{{item.img|relative_url}}" loading="lazy" alt="{{item.alt}}" width="180" height="226">
      </a>
    </div>
    {% endfor %}
  </div> 
</div>