<section class="bloques wrapper">
  <div class="bloque_big bg">
    <h2>Protegemos tu mercancía con stickers de seguridad y de trazabilidad</h2>
    <p>Ponemos toda nuestra experiencia al servicio de tus activos y su seguridad.</p>
    <p><b>Recuerda:</b></p>
    <p>Disponemos de nuestros asesores para ti gratis. ¡Sí, gratis! No nos cuesta <strong>recomendarte la mejor solución para tus problemas de seguridad y trazabilidad de mercancía</strong>.</p>
    <p class="resaltar">Pero a ti te puede costar mucho dinero.</p>
    <h4>Nosotros sí podemos resolverlos con nuestros productos ¡Escríbenos!</h4>
    </div>
    <div class="bloque_big bg_marca">
      <img src="{{'img/proteccion-mercancia.webp'|relative_url}}" alt="Equipo de Holographic S.A.S." loading="lazy">
      <a href="{{site.whatsapp}}" class="boton boton_1">Asesórate gratis</a>
    <p><a href="tel:+573165285933" title="Teléfono Holographic S.A.S.">📞+57 316 528 5933</a> <a href="tel:+573165285933" title="Teléfono Holographic S.A.S.">📞+57 316 528 5933</a></p>
  </div>
</section>