<section class="cta">
  <div class="wrapper">
    <img src="{{'img/tratamiento-natural-bg-1.webp'}}" alt="Lorem ipsum" loading="lazy" class="imagen_izquierda">
    <div class="cta_texto flow">
      <h2>CTA para solicitar una consulta</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe porro pariatur excepturi.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi excepturi sequi libero tempore nihil saepe.</p>
      {% include boton_whatsapp.html %}
    </div>
    <img src="{{'img/tratamiento-natural-bg-2.webp'}}" alt="Lorem ipsum" loading="lazy" class="imagen_derecha">
  </div>
</section>