{% assign layout = page.layout %}
{% case layout %}

{% when "default" %}
<header class="bloques wrapper">
  <div class="header_mini_bloque bg">
    <h2>Los stickers holográficos de Holographic S.A.S. tienen certificación ISO 9001</h2>
    <img src="{{'img/certificacion-iso-9001.webp' | relative_url}}" alt="Sello de certificación ISO 9001 de Holographic" title="Certificación ISO 9001">
  </div>
  <div class="header_bloque bloque_big">
    <div>
      <p>{{page.intro}}</p>
      <h1>{{page.h1}}</h1>
    </div>
    <img src="{{page.hero | relative_url }}" alt="{{page.alt}}" width="600" title="Etiqueta de seguridad de Holographic">
    {% include boton.html url=site.whatsapp title="Escribe a Holographic" texto="Asesórate gratis" %}
  </div>
  
{% when "pagina" %}
<header class="post_header wrapper">
<img src="{{ page.hero | relative_url }}" alt="{{page.alt}}" width="600" height="340" class="bloque_big bg">
<div class="header_bloque  flow">
  <h1>{{page.h1}}</h1>
  <p>➡️ {{page.intro}}</p>
</div>

{% when "post" %}
<header class="post_header wrapper">
  <div class="bg flow">
    <h1>{{page.h1}}</h1>
    <p>{{page.description}}</p>
    <small>Autor: {{page.autor}} | Temática: <a href="{{page.category | remove: '#' | relative_url }}">{{page.category}}</a></small>
    <small><b>📍Estás aquí: </b><a href="/" title="Página de inicio">Inicio</a>/<a href="{{'blog' | relative_url}}" title="Blog Holographic">Blog</a>/{{page.title}}</small>
  </div>
  <img src="{{page.hero|relative_url}}" alt="{{page.alt}}" width="600" height="340">

{% else %}
<header class="bloques wrapper">
  <div class="header_bloque bloque_big">
    <img src="{{page.hero |relative_url}}" alt="{{page.alt}}">
    <div>
      <h1>{{page.h1}}</h1>
      <p>{{page.intro}}</p>
      {% include boton.html url=site.whatsapp title="Escribe a Holographic" texto="Asesórate gratis" %}
    </div>
  </div>
  <div class="header_mini_bloque bg">
    <h4>Accesos rápidos</h4>
    {% for items in page.enlaces %}
    {% for item in items %}
      <a href="{{item[1]}}">› {{item[0]}}</a>
    {% endfor %}
    {% endfor %}
  </div>
{% endcase %}
</header>
