{% assign layout = page.layout %}
{% case layout %}
{% when "default" %}

  <header class="home_header wrapper flow">
    <div>
      <h1>{{page.h1}}</h1>
      <p>{{page.excerpt}}</p>
      <a href="{{site.whatsapp}}" title="WhatsApp Natural One Life" class="boton boton_1">🍃 Asesórate gratis</a>
    </div>
    <img src="{{page.hero | relative_url}}" alt="{{page.alt}}" title="{{page.title}}"  width="520" height="520">

  
  
{% when "post" %}

  <header class="post_header wrapper">
    <img src="{{page.hero|relative_url}}" alt="{{page.alt}}" loading="lazy">
    <div class="flow">
      <h1>{{page.h1}}</h1>
      <p>{{page.description}}</p>
      <small>Autor: {{page.autor}}</small>
      <small>Temática: <a href="{{page.category | remove: '#' | relative_url }}">{{page.category}}</a></small>
      <h3>🤩 <span class="resaltar">{{page.title}}</span>. Sigue leyendo...</h3>
    </div>
    
{% else %}
    
  <header class="post_header wrapper">
    <img src="{{page.hero|relative_url}}" alt="{{page.alt}}" loading="lazy">
    <div class="flow">
      <h1>{{page.h1}}</h1>
      <p>{{page.description}}</p>
      <p>Calificación: ⭐⭐⭐⭐🌟</p>
      <p>Precio: 28000</p>
      <a href="{{site.whatsapp}}%20{{page.h1}}" title="{{page.title}}" class="boton boton_1" rel="nofollow noopener noreferrer" target="_blank">Escríbenos por WhatsApp</a>
    </div>
{% endcase %}
</header>