<section class="wrapper">
  <div class="bloques">
    <div class="flow bloque_big bg">
      <h2>Desde Holographic ayudamos a proteger las empresas del Ecuador</h2>
      <img src="{{'img/holographic-ecuador.webp'|relative_url}}" alt="Holographic Ecuador" loading="lazy" width="600">
      <img src="{{'img/holographic-quito.webp'|relative_url}}" alt="Holographic en Quito" loading="lazy" width="600">
      <a href="{{site.whatsapp}}" class="boton boton_1">Asesórate gratis</a>
      <p>📞 <a href="tel:{{site.telefono}}" title="Teléfono Holographic" rel="nofollow noopener noreferrer">{{site.telefono}}</a> - 📞 <a href="tel:+593999664859" title="Teléfono Holographic" rel="nofollow noopener noreferrer">+593999664859</a></p>
    </div>
    <div class="bloque_big bg_marca">
      <h3>Holographic en Quito Ecuador</h3>
      <p>Protegemos la mercancía y los activos de nuestros clientes con etiquetas, sellos, adhesivos, calcomanías, cintas, y stickers holográficos y de seguridad.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.794248334761!2d-78.49672162432049!3d-0.19902949979900994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b813e7e6dcf%3A0x38bac4b8f2519777!2sGRUPO%208%20EC!5e0!3m2!1ses-419!2sco!4v1719922678193!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h4>Nuestros clientes en Ecuador nos recomiendan</h4>
      {% for item in site.data.testimonios %}
      <img src="{{ item.img | relative_url }}" alt="{{item.alt}}" loading="lazy" width="552">
      {% endfor %}
      <a href="{{site.maps}}" rel="nofollow noopener noreferrer" target="_blank" class="boton boton_1">Ver más testimonios</a>
    </div>
  </div>
</section>