.carousel_container{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel{
  display: flex;
  -webkit-animation: scroll 60s linear infinite;
  animation: scroll 60s linear infinite;
  width: calc(370px * 20);
  overflow: hidden;
}

.carousel .item{
  width: min(100%, 370px);
  padding: 1rem;
}

.carousel .item img{
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-370px * 20));
    transform: translateX(calc(-370px * 20));
  }
}