.header-home {
  position: relative;
  min-height: 70dvh;
  width: 100%;
  overflow: hidden;
}

.header_hero_image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: zoom 10s infinite ease-in-out;
          animation: zoom 10s infinite ease-in-out;
  z-index: -1;
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.header-home div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0 8em;
  text-align: center;
}

@media screen and (min-width: 991px ) {
  .header-home div{
    text-align: left;
    align-items: flex-start;

    a{
      margin: 1em 0;
    }
  }
}

.header-home div p{
  width: min(100%, 520px);
}

.header-home div > img{
  width: min(100%, 400px);
}

.header-contacto{
  background-image: url('/img/contacto-hermes-gamba.webp');
}

.header-gluteoplastia{
  background-image: url('/img/gluteoplastia.webp');
}

.header-lipoescultura{
  background-image: url('/img/lipoescultura.webp');
}

.header-rinoplastia{
  background-image: url('/img/operacion-nariz.webp');
}

.header-lipopapada{
  background-image: url('/img/operacion-papada.webp');
}

.header-bichectomia{
  background-image: url('/img/operacion-mejillas.webp');
}

.header-blefaroplastia{
  background-image: url('/img/operacion-parpados.webp');
}

.header-contacto,
.header-lipoescultura,
.header-lipopapada,
.header-rinoplastia,
.header-blefaroplastia,
.header-bichectomia,
.header-gluteoplastia{
  position: relative;
  min-height: 70dvh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header-contacto > div,
.header-lipoescultura > div,
.header-lipopapada > div,
.header-rinoplastia > div,
.header-blefaroplastia > div,
.header-bichectomia > div,
.header-gluteoplastia > div{
  position: relative;
  background-color: rgba(120, 166, 207, 0.90);
  z-index: 2;
  width: 100%;
  min-height: 70dvh;
  display: grid;
  place-items: center;
}

.text-hero{
  z-index: 2;
  padding: 3em 16px;
  width: min(100%, 800px);
  display: grid;
  place-items: center;
  text-align: center;
}

.text-hero h1{
  color: var(--principal);
}

.text-hero p {
  color: white;
  font-weight: 700;
}