nav {
  position: sticky;
  top: 20px;
  width: calc(100vw - 2em);
  margin-inline: auto;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--gris);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  z-index: 100;
}

.navegacion > a,
.navegacion > div,
.dropdown-content a{
  text-decoration: none;
  height: min-content;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 16px;
}

.navegacion > a:hover,
.dropdown-content a:hover{
  transform: scale(1.05);
  color: var(--accion);
}

.navegacion span{
  display: none;
}

@media screen and (min-width: 1024px) {
  .navegacion span{
    display: inline-block;
    font-size: 16px;
    color: var(--accion);
    font-weight: 700;
  }
}

.buscador:target{
  display: grid;
}

.cerrar:target .buscador{
  display: none;
}

.navegacion{
  margin-left: auto;
  display: flex;
  gap: 1em;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #f9f9f9;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 10;
  border-radius: var(--radius);
}

.dropdown:hover .dropdown-content{
  display: block;
}

/******* FIN NAV *******/

/************ PAGE HEADER *********/

.home_header,
.post_header{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: space-around;

  img{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
}

.home_header div{
  flex: 1 0 400px;
  max-width: 100%;

  h1{
    font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
    font-weight: 400;
  }

  p{
    font-size: clamp(2.5rem, 2.2rem + 1.5vw, 3.25rem);
    line-height: 1.1;
    font-weight: 700;
  }
}

.post_header div{
  flex: 1 0 400px;
  max-width: 100%;
}

.home_gallery{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  place-content: center;
}

.home_gallery article{
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: dotted 2px var(--gris);
  padding-bottom: 1em;
}

.home_gallery article img{
  width: 112px;
  height: 112px;
  border-radius: var(--radius);
  object-fit: cover;
  box-shadow: var(--shadow);
}

.home_gallery article div p{
  line-height: 1.2;
  font-size: 18px;
}

.home_gallery .boton{
  grid-column: 1 / -1;
}

.home_gallery img{
  z-index: 3;
}

.page_header img{
  border-radius: var(--radius);
  margin: 0 auto;
  display: block;
}