.catalogo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  gap: 12px;
  grid-auto-flow: dense;
  place-content: center;
}

.catalogo article{
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: var(--radius);
  border: solid 1.2px var(--gris);
  display: flex;
  gap: 12px;
  align-items: center;
}

.catalogo .boton{
  grid-column: 1 / -1;
}

.nosotros {
  position: relative;
  background: rgb(250,108,4);
  background: linear-gradient(126deg, rgba(250,108,4,1) 0%, rgba(253,247,233,1) 39%, rgba(72,191,132,0.7147233893557423) 62%, rgba(250,108,4,1) 86%, rgba(253,247,233,1) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-wrap: wrap;
}

.nosotros_home{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.nosotros_home > div{
  flex: 1 0 480px;
  max-width: 100%;
  display: grid;
  align-content: center;
  place-items: center;
}

.nosotros_home div img{
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}
