.pagina{
  position: relative;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.pagina > article{
  flex: 1 0 480px;
  max-width: 100%;
}

.pagina aside{
  width: min(100%, 440px);
}

@media screen and (min-width: 800px) {
  .pagina{
    flex-direction: row-reverse;
  }
}

.landing{
  padding: 4em 0;
}

.landing p{
  max-width: 100%;
}

details {
  padding: 0 2em;
  border: 2.4px solid var(--secundario);
  max-width: max-content;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

summary{
  padding: 16px 0 8px;
  color: var(--accion);
  font-weight: 700;
  font-size: 18px;
}

details p{
  font-size: 18px;
  padding: 8px 0 16px;
}