:root {
  /*** COLORES ***/
  --principal: #42434d;
  --accion: #579adc;
  --secundario: #26436f;
  --clr1: #e2cdac;
  --clr2: #e9e7db;
  --clr3: #ddaea3;
  --clr4: #d5c9d1;
  --clr5: #bfced1;
  --clr6: #b7c9bf;
  --clr7: #5f8ba3;
  --gris: #e9e9e9;
  --grisFuentes: #3f3f4a;
  --fuenteTitulos: 'Montserrat', sans-serif;
  --fuenteTexto: 'Karma', serif;
  --radius: 8px;
  --shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.42);

  --principalB: #26436f;
  --accionB: #b12240;
  --secundarioB: #20314b;
  --clr1B: #e9d337;
  --clr2B: rgb(224, 0, 120);
  --clr3B: #bf0e1a;
  --clr4B: #579adc;
  --clr5B: #4e8a3f;
  --clr6B: #96bd3d;

  --principalC: hsl(216, 49%, 59%);
  --accionC: hsl(347, 68%, 71%);
  --secundarioC: hsl(216, 40%, 51%);
  --clr1C: hsl(53, 80%, 86%);
  --clr2C: hsl(328, 100%, 74%);
  --clr3C: hsl(356, 86%, 70%);
  --clr4C: hsl(210, 66%, 90%);
  --clr5C: hsl(108, 37%, 69%);
  --clr6C: hsl(78, 51%, 79%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}

body {
  color: var(--grisFuentes);
  font-family: var(--fuenteTexto);
  background-color: #fefefe;
  line-height: 1.6;
  cursor: url('/img/puntero.png'), auto;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  text-transform: initial;
  max-width: 992px;
  font-family: var(--fuenteTitulos);
  margin: 0;
}
/* 
h1 {
  font-size: clamp(2.25rem, 2.023rem + 1.14vw, 2.75rem);
  margin: 0;
  margin-bottom: 32px;
} */

h2 {
  font-size: clamp(1.5rem, 1.357rem + 0.71vw, 2rem);
}

h3 {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
}

h1,
p,
li,
td,
th,
blockquote {
  word-wrap: break-word;
  font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--accion);
  font-weight: 700;
  font-family: var(--fuenteTitulos);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover:not(.boton){
  color: var(--secundario);
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(66, 67, 77, 0),
    rgba(66, 67, 77, 0.75),
    rgba(66, 67, 77, 0)
  );
  margin: 0 0 2.4em 0;
}

small {
  font-size: 80%;
}

blockquote {
  border: 2px solid var(--principal);
  padding: 2em;
  text-align: center;
}

img {
  border-style: none;
  max-width: 100%;
  border-radius: var(--radius);
}

ul li {
  margin-left: 2em;
}

ol li {
  list-style: decimal;
  margin-left: 2em;
}

ol li::marker {
  padding: 4px;
  font-size: 2em;
  font-weight: bolder;
  color: var(--principal);
  vertical-align: middle;
}

table {
  width: 100%;
  margin: 2em 0 4em;
}

table tr {
  border-bottom: 2px dotted var(--principal);
  display: flex;
  padding: 1.2em;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

table tr:nth-child(even){
  background-color: var(--gris);
}

table th {
  font-weight: 900;
}

table td,
table th {
  flex: 1 0 240px;
  max-width: 100%;
}

input{
  padding: 16px;
  font-size: 18px;
  border-radius: var(--radius);
  border: 2px solid var(--principal);
}

iframe{
  display: block;
  width: min(100%, 560px);
  margin-inline: auto;
}

button{
  border: none;
}

.wrapper {
  width: min(calc(100% - 20px), 1400px);
  margin-inline: auto;
  padding: 3rem 0;
}

.content {
  width: min(calc(100% - 20px), 1400px);
  margin-inline: auto;
}

.flow > * + *:not(h1) {
  margin-top: 1.4em;
}

.title {
  text-align: center;
}

.resaltar {
  background-color: var(--clr2);
  color: var(--clr7);
  padding: 4px;
  font-weight: 700;
  max-width: max-content;
}

.add {
  margin-top: 1rem;
  max-width: 80%;
  margin-inline: auto;
  min-height: 280px;
  padding: 1rem;
}

.boton {
  display: block;
  border-radius: var(--radius);
  text-decoration: none;
  padding: 16px 20px;
  width: min(100%, 360px);
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.10s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1em auto 0;
  cursor: pointer;
  line-height: 1.2;
}

.boton:hover{
  transform: scale(1.024);
}

.boton_1{
  background: rgb(38,67,111);
background: linear-gradient(90deg, rgba(38,67,111,1) 3%, rgba(87,154,220,1) 48%, rgba(38,67,111,1) 90%);
  color: #fefefe;
  box-shadow: var(--shadow);
}

.boton_1:hover {
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 1s infinite alternate-reverse;
}

.boton_2 {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  color: var(--accion);
  box-shadow: 0 0 4px var(--accion);
  margin: 0 auto;
}

.boton_2:hover{
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 1s infinite alternate-reverse;
}

.boton_1:active,
.boton_2:active {
  box-shadow: none;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

.boton-whatsapp {
  position: fixed;
  bottom: 8rem;
  right: 12px;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390,0.575,0.565,1.000) 0.5s 6 alternate-reverse both;
  animation: scale-up-center 0.4s cubic-bezier(0.390,0.575,0.565,1.000) 0.5s 6 alternate-reverse both;
  transition: all .2s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

.boton-whatsapp img{
  display: inline;
}

.boton-whatsapp:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
}

.flex > *{
  flex: 1 0 400px;
  max-width: 100%;
}

.bg{
  background-color: #e5e5e5;
  background-image: url("/img/bg.webp");
}

lord-icon{
  display: block;
  border: 2.4px solid var(--complemento2);
  width: min(100%, 440px);
  border-radius: var(--radius);
  margin: 1em auto;
  background-color: white;
}

.bloques{
  display: grid;
  gap: 1em;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.bloques > div{
  padding: 40px;
  display: grid;
  gap: 1em;
  place-content: center;
  place-items: center;
  border-radius: var(--radius);
}

.bloques div video{
  width: min(100%, 600px);
  border-radius: var(--radius);
}

.bloques div ul li{
  list-style: none;
  margin: 0;
}

.bg1{
  background-color: var(--clr1);
}
.bg2{
  background-color: var(--clr2);
}
.bg3{
  background-color: var(--clr3);
}
.bg4{
  background-color: var(--clr4);
}
.bg5{
  background-color: var(--clr5);
}
.bg6{
  background-color: var(--clr6);
}
.bg7{
  background-color: var(--clr7);
}

.bg1B{
  background-color: var(--clr1B);
}
.bg2B{
  background-color: var(--clr2B);
}
.bg3B{
  background-color: var(--clr3B);
}
.bg4B{
  background-color: var(--clr4B);
}
.bg5B{
  background-color: var(--clr5B);
}
.bg6B{
  background-color: var(--clr6B);
}
.bg7B{
  background-color: var(--principalB);
}

.bg1C{
  background-color: var(--clr1C);
}
.bg2C{
  background-color: var(--clr2C);
}
.bg3C{
  background-color: var(--clr3C);
}
.bg4C{
  background-color: var(--clr4C);
}
.bg5C{
  background-color: var(--clr5C);
}
.bg6C{
  background-color: var(--clr6C);
}
.bg7C{
  background-color: var(--principalC);
}

.title{
  text-align: center;
  display: grid;
  place-items: center;
}

/* BG OFICIAL
background: rgb(0,181,19);
background: linear-gradient(135deg, rgba(0,181,19,1) 0%, rgba(255,254,0,1) 25%, rgba(255,0,0,1) 49%, rgba(255,121,0,1) 74%, rgba(14,0,255,1) 100%); */
