---
layout: categoria
hero: img/blog-since.avif
h1: Aprende con el blog de marketing de Since
---

<section class="wrapper text-center highlighted-title">
  <h2>Lorem Ipsum is simply dummy text of the printing and typesetting </h2>
</section>

<div class="bg-blog ">
  <div class="wrapper flow">

    <div class="card-content">
      <img src="{{ 'img/contacto-since.avif' | relative_url }}" alt="Equipo de trabajo" class="team-img" width="1320"
        height="440">
    </div>
    <div class="two_columns">
      <div>
        <h3 class="text-black">Lorem Ipsum is simply dummy</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. a fwan iua nas fisuadnfiu fnuw
          fwef in
          fsn f iunaiuf iua iunc iuwe cb aiufb is fiuy</p>
      </div>
      <div>
        {% include button-secondary.html text= "leer más" %}
      </div>
    </div>
  </div>
</div>

<section class="categories-container">
  <h2>Primera categoria de el blog</h2>
  <div class="tarjeta-blog-container">
    <div class="tarjeta-blog">
      {% for category in site.categories %}
        {% if category[0] == "primera-categoria" %}
          {% for post in category[1] %}
            <div class="digital-item" style="background-image: url('{{ post.hero | relative_url }}');">
              <div class="excerpt-overlay">
                {{ post.excerpt }}
                <a href="{{ post.url }}" class="btn-glitch-fill">Clic para leer más</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>


<section class="wrapper text_center">
  <img src="{{ 'img/since-logo.avif' | relative_url }}" alt="" width="320" height="100">
  <p>¿Quieres invertir en marketing?</p>
  <p>Muy inteligente.</p>
  <p>Pero también sabemos que buscas resultados </p>

  {% include button.html text= "Clic y empecemos" %}

</section>
