---
layout: default
---
<main class="wrapper pagina">
  <aside>
    {% include carousel.html %}
    <a href="{{'raticogurcoff'|relative_url}}" title="#raticogurcoff" class="boton boton_2">#raticogurcoff</a>
    <a href="{{'clubgurcoff'|relative_url}}" title="#raticogurcoff" class="boton boton_2">#clubgurcoff</a>
    <a href="{{'historiasgurcoff'|relative_url}}" title="#raticogurcoff" class="boton boton_2">#historiasgurcoff</a>
  </aside>
  <article class="flow">
    {{content}}
  </article>
</main>